body {
margin-right: 100px;
margin-left: 50px;
padding:50px;
height:2500px;
}

.title {
  position: fixed;
  top: 37px;
  left: 37px;
}

h1 {
  font-family: IBM Plex Mono;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.15em;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 50px;
}

h2 {
  font-family: courier;
  font-size: 13px;
}

p {
  font-family: courier;
  font-size: 11px;
  line-height: 18px;
}

figcaption {
  font-family: Courier;
  font-size: 10px;
  line-height: 13px;
  margin-top: 2px;
  text-align: center;
}

figure {
  margin: 0;
  text-align: center;
  justify-content: space-between;
}

.image-grid {
  margin-top: 120px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  column-gap: 80px;
  row-gap: 100px;
}

.image {
  margin: 0;
  max-width:100%;
  height: auto;
}