body {
  margin: 0;
  padding: 100px;
}

.title {
  position: absolute;
  top: 40px;
  left: 40px;
  line-height: 20px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.15em;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

h1 { 
  font-family: IBM Plex Mono;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.15em;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 50px;
}

figcaption {
  font-family: IBM Plex Mono;
  font-size: 10px;
  line-height: 13px;
  margin-top: 4px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 250px;
  margin-top: 100px;
}

.image {
  max-width: 540px;
  min-width: 350px;
  height: auto;
}

.back-link,
.back-link:active {
  text-decoration: none;
  display: block;
  font-size:13px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.7);
  font-family: futura;
  position: absolute;
  top: 20px;
  left: 20px;
}

figure {
  margin-bottom: 350px;
}