body {
  margin: 0;
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color:rgba(242, 242, 242, 0.3);
}

.april,
.may,
.june {
  padding: 30px;
}

figcaption {
  font-family: pinyon-script;
  font-size: 17px;
  margin-top: -11px;
  text-align: right;
}

h1 {
  font-family: pinyon-script;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.16em;
  color: rgb(94, 89, 119);
  margin-bottom: 80px;
}

h2 {
  margin-top: 35px;
  font-family: futura;
  font-size: 11px;
  letter-spacing: 0.2em;
  color: rgb(103, 103, 113);
}

p {
  font-family: Gothic A1;
  font-size: 10px;
  line-height: 20px;
  color: rgb(94, 89, 119);
}

.highlight {
  background-color: rgba(187, 251, 192, 0.475);
}

.back {
  display: inline-flex;
  position: absolute;
  top: 20px;
  left: 20px;
}

.back-link {
  text-decoration: none;
  font-size:13px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.7);
  font-family: futura;
}

.back-link:active {
  text-decoration: none;
  font-size:13px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.7);
  font-family: futura;
}