body {
  margin: 37px;
  height:400px;
  }

.title {
  display: inline-block;
}

h1 {
  font-family: IBM Plex Mono;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.15em;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 50px;
}

h2 {
  font-family: courier;
  font-size: 13px;
  margin-bottom: 40px;
}

p {
  font-family: courier;
  font-size: 11px;
  line-height: 18px;
}

.image {
  display: inline-block;
  height: 300px;
}

.image-flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.content {
  margin-top: 300px;
  overflow: scroll;
  height: 300px;
  width: 1400px;
}

figcaption {
  display: block;
  grid-template-rows: 1fr;
  justify-content: right;
  row-gap: 0px;
  font-family: courier;
  font-size: 10px;
}

.back-link,
.back-link:active {
  text-decoration: none;
  display: block;
  font-size:13px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.7);
  font-family: futura;
  position: absolute;
  top: 20px;
  left: 20px;
}