body {
padding: 37px;
height: 2500px;
}

.title {
  position: fixed;
  top: 37px;
  left: 37px;
}

h1 {
  font-family: IBM Plex Mono;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.15em;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 50px;
}

h2 {
  font-family: courier;
  font-size: 13px;
}

p {
  font-family: courier;
  font-size: 11px;
  line-height: 18px;
}

.video {
  box-shadow: none;
  border: none;
}

.media-grid {
  display: grid;
  row-gap: 70px;
  justify-content: center;
}