body {
padding-left: 600px;

}

.title {
  position: fixed;
  top: 37px;
  left: 37px;
}

h1 {
  font-family: IBM Plex Mono;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.15em;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 50px;
}

a:link {
  font-family: helvetica;
  line-height: 22px;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

a:hover {
  background-color: rgba(187, 251, 192, 0.475);
}

a:visited {
  font-family: helvetica;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}