@font-face {
  font-family: IBM Plex Mono;
  src: url(IBMPlexMono-Regular.ttf);
}

body {
  margin: 37px;
  justify-content: start;
  display: grid;
  grid-template-columns: 550px 1fr;
  }

h1 {
  display: inline-block;
  font-family: IBM Plex Mono;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.15em;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
}

h2 {
  font-family: helvetica;
  font-size: 19px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  line-height: 30px;
  margin: 0;
  position: absolute;
  top:20px;
  left:0px;
}

.title {
  display: inline-block;
  font-family: IBM Plex Mono;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.15em;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
}

p {
  font-family: helvetica;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}

.sidebar {
  display: grid;
  grid-template-rows: 160px 1fr;
}

.title-link {
  display: block;
  font-family: IBM Plex Mono;
  font-size:11px;
  color:rgba(0, 0, 0, 0.80);
  text-decoration: none;
}

.text-content {
  overflow: scroll;
  width: 600px;
  height: 800px;
  text-wrap: pretty;
  margin-top: 160px;
}

.textbox{
  position: relative;
}

.highlight {
  background-color:rgba(187, 251, 192, 0.475);
}

.back-link,
.back-link:active {
  text-decoration: none;
  display: block;
  font-size:13px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.7);
  font-family: futura;
  position: absolute;
  top: 20px;
  left: 20px;
}