@font-face {
  font-family: IBM Plex Mono;
  src: url(IBMPlexMono-Regular.ttf);
}

body {
  margin: 37px;
  justify-content: start;
  display: grid;
  grid-template-columns: 400px 1fr;
  }

h1 {
  display: block;
  font-family: IBM Plex Mono;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.15em;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 50px;
}

h2 {
  font-family: helvetica;
  font-size: 19px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 40px;
  line-height: 30px;
}

p {
  font-family: helvetica;
  font-size: 12px;
  line-height: 16px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  text-wrap: pretty;
}

.sidebar {
  display: grid;
  grid-template-rows: auto;
}

.text-titles {
  display: grid;
  grid-template-columns: auto;
  width: 420px;
  margin: 0px;
}

.title-link {
  display: block;
  font-family: IBM Plex Mono;
  font-size:9px;
  color:rgba(0, 0, 0, 0.80);
  text-decoration: none;
}

.textbox{
  width: 600px;
  height: 800px;
  display: grid;
  overflow: scroll;
}

.highlight {
  background-color:rgba(187, 251, 192, 0.475);
}

.back-link {
  text-decoration: none;
  font-size:13px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.7);
  font-family: futura;
}

.back-link:active {
  text-decoration: none;
  font-size:13px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.7);
  font-family: futura;
}
