body {
  margin: 37px;
  justify-content: start;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

h1 {
  display: inline-block;
  font-family: IBM Plex Mono;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.15em;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
}

h2 {
  font-family: IBM Plex Mono;
  font-size: 19px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
  line-height: 30px;
  margin: 0;
  position: absolute;
  top:20px;
  left:0px;
}

.title {
  position: absolute;
  font-family:IBM Plex Mono;
  top: 40px;
  left: 40px;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.15em;
  color: rgba(0, 0, 0, 0.8);
}

p {
  font-family: IBM Plex Mono;
  font-size: 11px;
  line-height: 18px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
}

.sidebar {
  display: grid;
  grid-template-rows: 160px 1fr;
}

.title-link {
  display: inline-block;
  font-family: IBM Plex Mono;
  font-size:11px;
  color:rgba(0, 0, 0, 0.80);
  text-decoration: none;
  margin-bottom: 3px;
}

.title-link:hover::before {
  background-color: transparent;
}

.title-link:hover {
  display: inline-block;
  font-family: IBM Plex Mono;
  font-size:11px;
  color:rgba(0, 0, 0, 0.80);
  text-decoration: none;
  margin-bottom: 3px;
  background-color: rgba(145, 178, 222, 0.34);
}

.text-content {
  overflow: scroll;
  width: 600px;
  height: 600px;
  text-wrap: pretty;
  margin-top: 160px;
}

.textbox{
  position: relative;
}

.highlight {
  background-color:rgba(145, 178, 222, 0.34);
}

.back-link,
.back-link:active {
  text-decoration: none;
  display: block;
  font-size:13px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.7);
  font-family: futura;
  position: absolute;
  top: 20px;
  left: 20px;
}

.text-titles {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-wrap: balance;
}

img {
  margin-right: 15px;
  float: left;
  
}