body {
  margin: 0;
  padding: 40px;
}

.main-grid {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  line-height: 20px;
}

.web-title {
  position: absolute;
  top: 40px;
  left: 40px;
  line-height: 20px;
  font-family: pinyon script;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.web-title,
.web-title:visited {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  position: absolute;
  top: 40px;
  left: 40px;
}

.page-links {
  display: flex;
  line-height: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.films,
.art {
  font-family: IBM Plex Mono;
  font-size:11px;
  color:rgba(0, 0, 0, 0.80);
  text-decoration: none;
  letter-spacing: 0.007em;
  margin-right: 35px;
  margin-top: -1px;
}

.films:hover,
.art:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.archive-link {
  font-family: IBM plex mono;
  font-size: 11px;
  text-decoration: none;
  color:rgba(0, 0, 0, 0.80);
  border:none;
}

.archive-link:hover {
  background-color: rgba(176, 186, 255, 0.396);
}

.small-title {
  font-size: 11px;
  margin: 0;
  letter-spacing: 0.22em;
  color:rgba(0, 0, 0, 0.80);
}

.footer {
    display: grid;
    position: fixed;
    right: 13px;
    bottom: 13px;
    color:rgba(0, 0, 0, 0.80);
    font-family: IBM Plex Mono;
    font-size: 11px;
    line-height: 18px;
}