body {
  margin: 0;
  padding: 40px;
}

p{
  font-family: IBM Plex Mono;
  line-height:24px;
  color:rgb(94, 89, 119);
}

.main-grid {
  display: grid;
  row-gap: 70px;
  margin-top: 100px;
}

.title {
  position: block;
  line-height: 20px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.15em;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.title,
.title:visited {
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  position: absolute;
  top: 40px;
  left: 40px;
}

.page-links {
  display: inline-block;
  width: 90px;
  line-height: 22px;
}

.text,
.films,
.tunes,
.jpeg,
.punctum,
.art {
  font-family: IBM Plex Mono;
  font-size:12px;
  color:rgba(0, 0, 0, 0.80);
  text-decoration: none;
  letter-spacing: 0.007em;
  margin-right: 35px;
  margin-top: -1px;
}

.text:hover,
.films:hover,
.tunes:hover,
.jpeg:hover,
.punctum:hover,
.art:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.text:visited,
.jpeg:visited {
  font-family: IBM Plex mono;
  font-size:12px;
  color:rgba(0, 0, 0, 0.80);
  text-decoration: none;
}

.archive-link {
  font-family: IBM plex mono;
  font-size: 12px;
  text-decoration: none;
  color:rgba(0, 0, 0, 0.80);
  border:none;
}

.archive-link:hover {
  background-color: rgba(176, 186, 255, 0.396);
}

.journals-1 {
  display:flex;
  justify-content: left;
}

.journals-2 {
  display:flex;
  justify-content: left;
  flex-shrink: 0;
}

.quarter-1 {
  color: rgba(107, 107, 107, 0.579);
  font-family: Futura;
  font-size: 15px;
  text-decoration: none;
  text-align: center;
  line-height: 95px;
  border: 0.5px solid black;
  width:100px;
  height:100px;
  flex-shrink: 0;
}

.quarter-1:hover,
.quarter-2:hover {
  background-color: rgba(89, 110, 98, 0.397);
  color: white;
}

.quarter-2 {
  color: rgba(107, 107, 107, 0.579);
  font-family: Futura;
  font-size: 15px;
  text-decoration: none;
  border: 0.5px solid black;
  width:100px;
  height:100px;
  border-top: 0.2px;
  text-align: center;
  line-height: 95px;
  flex-shrink: 0;
}

.quarter-3 {
  color: rgba(107, 107, 107, 0.579);
  font-family: Futura;
  font-size: 15px;
  text-decoration: none;
  border: 0.5px solid black;
  border-right: 0.2px;
  border-top: 0.2px;
  width:100px;
  height:100px;
  text-align: center;
  line-height: 95px;
  background-color: rgba(230, 230, 230, 0.478);
  flex-shrink: 0;
}

.quarter-4 {
  color: rgba(107, 107, 107, 0.579);
  font-family: Futura;
  font-size: 15px;
  text-decoration: none;
  border: 0.5px solid black;
  border-right: 0.2px;
  text-align: center;
  line-height: 95px;
  width:100px;
  height:100px;
  background-color: rgba(230, 230, 230, 0.478);
  flex-shrink: 0;
}

.today-text {
  color:rgba(0, 0, 0, 0.80);
  background-color: rgb(241, 241, 241);
  font-size: 11px;
  width: 240px;
  padding: 25px;
  line-height: 20px;
  text-align: left;
  flex-shrink: 0;
  margin: 0;
  font-family: IBM Plex Mono;
  line-height:24px;
  color:rgba(0, 0, 0, 0.80);
}

.small-title {
  font-size: 11px;
  margin: 0;
  letter-spacing: 0.22em;
  color:rgba(0, 0, 0, 0.80);
}

.container {
  display: block;
  position: relative;
  padding-left: 20px;
  cursor: pointer;
  font-family: IBM Plex Mono;
  line-height:24px;
  color:rgba(0, 0, 0, 0.80);
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;      
}

.checkmark {
  position: absolute;
  top: 8px;
  left: 1px;
  height: 7px;
  width: 7px;
  border: solid rgba(0, 0, 0, 0.80) 1px;
}

.container input:checked ~ .checkmark {
background-color: transparent;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
 display: block;
}

.container .checkmark:after {
  left: 2px;
  top: 0.5px;
  width: 2px;
  height: 3px;
  border: solid rgba(0, 0, 0, 0.80);
  border-width: 0px 1.5px 1.5px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  }