body {
  height: 900px;
  padding: 200px;
}

p{
  font-family: IBM Plex Mono;
  line-height:24px;
  color:rgb(94, 89, 119);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex: 1;
  align-items: start;
  position: fixed;
  top: 40px;
  left: 40px;
  height: 90px;
}

.title {
  position: block;
  line-height: 20px;
  font-family: IBM Plex Mono;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0.15em;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.light-buttons {
  display: flex;
}

.middle {
  flex-shrink: 0;
  margin-left: 50px;
}

.right {
  margin-left: 70px;
}

.text,
.films,
.tunes,
.jpeg,
.punctum,
.art {
  font-family: IBM Plex Mono;
  font-size:12px;
  color:rgba(0, 0, 0, 0.80);
  text-decoration: none;
  letter-spacing: 0.007em;
  margin-right: 35px;
  margin-top: -1px;
}

.text:hover,
.films:hover,
.tunes:hover,
.jpeg:hover,
.punctum:hover,
.art:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.text:visited,
.jpeg:visited {
  font-family: IBM Plex mono;
  font-size:12px;
  color:rgba(0, 0, 0, 0.80);
  text-decoration: none;
}

.works-button {
  color:rgb(94, 89, 119);
  border-color:rgb(94, 89, 119);
  text-decoration: none;
  margin-right: 100px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 8px;
  cursor:pointer;
  border-style: dotted;
  border-width: 1.7px;
  font-family: Ballet;
  font-size:20px;
  transition: 0.15s;
}

.works-button:hover {
  background-color: rgba(176, 185, 197, 0.282);
  text-underline-offset: 3px;
}

.archive-link {
  font-family: IBM plex mono;
  font-size:12px;
  text-decoration: none;
  color:rgb(229, 76, 34);
  border:none;
  margin-right: 28px;
}

.journals-1 {
  display:flex;
  justify-content: center;
}

.journals-2 {
  display:flex;
  justify-content: center;
  flex-shrink: 0;
}

.quarter-1 {
  color: rgba(107, 107, 107, 0.579);
  font-family: Futura;
  font-size: 18px;
  text-decoration: none;
  text-align: center;
  line-height: 145px;
  border: 0.5px solid black;
  width:150px;
  height:150px;
  flex-shrink: 0;
}

.quarter-1:hover {
  background-color:  rgba(50, 171, 109, 0.714);
  color: white;
}

.quarter-2 {
  color: rgba(107, 107, 107, 0.579);
  font-family: Futura;
  font-size: 18px;
  text-decoration: none;
  border: 0.5px solid black;
  width:150px;
  height:150px;
  border-top: 0.2px;
  text-align: center;
  line-height: 145px;
  background-color: rgba(230, 230, 230, 0.478);
  flex-shrink: 0;
}

.quarter-3 {
  color: rgba(107, 107, 107, 0.579);
  font-family: Futura;
  font-size: 18px;
  text-decoration: none;
  border: 0.5px solid black;
  border-right: 0.2px;
  border-top: 0.2px;
  width:150px;
  height:150px;
  text-align: center;
  line-height: 145px;
  background-color: rgba(230, 230, 230, 0.478);
  flex-shrink: 0;
}

.quarter-4 {
  color: rgba(107, 107, 107, 0.579);
  font-family: Futura;
  font-size: 18px;
  text-decoration: none;
  border: 0.5px solid black;
  border-right: 0.2px;
  text-align: center;
  line-height: 145px;
  width:150px;
  height:150px;
  background-color: rgba(230, 230, 230, 0.478);
  flex-shrink: 0;
}

.archive-link:hover {
  color:rgb(229, 76, 34);
  background-color:  rgba(254, 215, 255, 0.754);
}

.today {
  position: fixed;
  top: 120px;
  left: 40px;
}

.today-text {
  color: rgb(22, 22, 57);
  font-size: 11px;
  padding: 30px;
  line-height: 20px;
  text-align: left;
  background-color: rgba(145, 178, 222, 0.34);
  border: 0.7px solid rgb(94, 89, 119);
  flex-shrink: 0;
  margin: 0;
  font-family: IBM Plex Mono;
  line-height:24px;
  color:rgb(94, 89, 119);
}

.small-title {
  display: block;
  font-size: 11px;
  margin: 0;
  letter-spacing: 0.22em;
  color: rgb(22, 22, 57);
}

.highlight {
  background-color: white;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-family: IBM Plex Mono;
  line-height:24px;
  color:rgb(94, 89, 119);
}

.jpeg {
  height: auto;
  max-width: 100%;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;      
}

.checkmark {
  position: absolute;
  top: 5px;
  left: 5px;
  height: 15px;
  width: 15px;
  border: solid black 1px;
}

.container input:checked ~ .checkmark {
background-color: #ffffff;
border: solid black 1px;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
 display: block;
}

.container .checkmark:after {
  left: 4px;
  top: 2px;
  width: 6px;
  height: 6px;
  border: solid rgb(255, 255, 255);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  }