h1 {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  margin-bottom: 18px;
  color: rgba(0, 0, 0, 0.7);
}

h2 {
  font-family: IBM Plex Mono;
  font-size: 11px;
  font-weight: 500;
}

p {
  font-family: IBM Plex Mono;
  font-size: 10px;
  margin: 0;
  color: rgba(50, 50, 50, 0.7);
}

.weekly-text ul {
  list-style: none;
  padding-left: 0;
  color: rgba(50, 50, 50, 0.7);
}

.special {
  font-family: IBM Plex Mono;
  font-size: 10px;
  color: rgb(8, 133, 92);
}

.fixed {
  font-family: IBM Plex Mono;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.7);
}

.class {
  font-family: IBM Plex Mono;
  font-size: 10px;
  color: rgb(213, 181, 39);
}

.cinema {
  font-family: IBM Plex Mono;
  font-size: 10px;
  color: rgb(101, 122, 219);
}

.title {
  position: absolute;
  top: 40px;
  left: 40px;
  line-height: 20px;
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.15em;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
}

.back-link,
.back-link:active {
  text-decoration: none;
  font-size:13px;
  letter-spacing: 0.2em;
  color: rgba(0, 0, 0, 0.7);
  font-family: futura;
  position: absolute;
  top: 20px;
  left: 20px;
}

.week-number {
  margin: 0;
  margin-top: 100px;
  font-family: IBM Plex Mono;
  font-size: 10px;
  font-weight: 400;
  color: rgba(50, 50, 50, 0.7);
}

.weekly-table {
  display: flex;
  flex-direction: row;
  font-family: IBM Plex Mono;
  margin-top: 8px;
  margin-bottom: 120px;
  padding: 30px 30px;
  padding-bottom: 90px;
  border: 0.5px solid  rgba(50, 50, 50, 0.7);
}

.columns {
  display: inline-block;
  width: 500px;
  line-height: 15px;
}

.free {
  font-family: IBM Plex Mono;
  font-size: 18px;
  font-weight: 400;
  color: rgb(214, 217, 224);
  display: block;
  margin: 0;
  margin-bottom: 18px;
}

.weekly-text {
  font-family: IBM plex mono;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.7);
  line-height: 17px;
}
